/* ==UserStyle==
@name bgm-vndb-skin
@namespace github.com/Coin-233/bgm-vndb-skin
@homepageURL https://github.com/Coin-233/bgm-vndb-skin
@updateURL https://raw.githubusercontent.com/Coin-233/bgm-vndb-skin/main/bgm-vndb-skin.user.styl
@version 1.0.3-rc.3
@description 把vndb的皮肤给抄了过来(
@author Coin-233
@preprocessor stylus

@var select skin "皮肤" {
	'エンジェリックセレナーデ 天使小夜曲(深蓝色)': 'angel',
	'AIR(天蓝)': 'air',
	'ELEL (peach-orange)':'eles',
	'永遠のアセリア 永远的艾塞莉娅 (法鲁红)':'aselia',
	'ever17 (邦迪蓝)':'ever17',
	'fate/stay night (淡胭脂红)':'fate_02',
	'fate/stay night (海豹棕)':'fate_01',
	'月光のカルネヴァーレ 月光嘉年华(黑色)':'carnevale',
	'彼岸花の咲く夜に 彼岸花盛开之夜 (栗色)':'higanbana',
	'ひぐらしのなく頃に 寒蝉鸣泣之时 (橙色)':'higu',
	'リトルバスターズ！ little busters! (柠檬雪纺)':'lb_02',
	'リトルバスターズ！ little busters! (粉色)':'lb_01',
	'荧光 (黑色)':'term',
	'プリミティブ リンク primitive link (淡栗子)':'primitive',
	'沙耶の唄 沙耶之歌 (深红)':'saya',
	'聖なるかな -The Spirit of Eternity Sword 2- (白色)':'seinarukana',
	'そらのいろ、みずのいろ 空之色，水之色 (绿松石)':'taka',
	'青色 (青色)':'teal1',
	'东方 (灰色)':'grey1',
	'月姫 (黑色)':'tsukihime_02',
	'月姫 (午夜蓝)':'tsukihime',
	
	'默认': 'foobar'
}
@var checkbox hideSidePanelMini "隐藏超官方客户端" 1
@var checkbox hideDoujin "隐藏天窗联盟" 1
@var checkbox hideSidepanel "隐藏Sumomo Board" 1
@var checkbox hidefooterlink "隐藏底部链接" 1
@var checkbox hideshareBtn "隐藏条目分享按钮" 1
@var text bio "限制用户介绍高度(0为禁用)" 200
@var color Chartcolor "评分柱图颜色" #AAAAAA

==/UserStyle== */
@-moz-document domain("bgm.tv"),
domain("bangumi.tv") {
	/* 	隐藏超官方客户端 */
	if hideSidePanelMini {
		div.SidePanelMini.clearit {
			display: none
		}
	}
	/* 隐藏天窗联盟 */
	if hideDoujin {
		a[href="https://doujin.bgm.tv"] {
			display: none !important
		}
	}
	/* 	隐藏Sumomo Board */
	if hideSidepanel {
		div#home_announcement.halfPage.sort.ui-draggable {
			display: none
		}
	}
	/* 	隐藏底部链接 */
	if hidefooterlink {
		ul#footerLinks {
			display: none !important
		}
	}
	/* 	隐藏条目分享按钮 */
	if hideshareBtn {
		div.shareBtn {
			display: none
		}
	}
	/* 	自定义评分颜色 */
	.horizontalChart li a .count {
		background: Chartcolor
	}
	/* 	限制用户自我介绍高度 */
	if not bio=='0' {
		div.bio {
			overflow-y: auto;
			max-height: bio px;
		}
		::-webkit-scrollbar {
			width: 8px;
			height: 1px;
		}
		::-webkit-scrollbar-thumb {
			border-radius: 4px;
			box-shadow: inset 0 0 5px rgba(182, 176, 176, 0.2);
			background: var(--grayedout)
		}
		::-webkit-scrollbar-track {
			box-shadow: none;
			border-radius: 4px;
			background: transparent
		}
	}
	if skin=='angel' {
		:root {
			--maintext: #ddd;
			--grayedout: #37a;
			--bodybg: black;
			--border: #258;
			--boxbg: rgba(7, 28, 48, 0.737255)
		}
		body[class='bangumi'] {
			background: url(https://t.vndb.org/s/angel-bg.jpg) no-repeat
		}
		div.homeBg {
			background: url(https://t.vndb.org/s/angel-right.jpg) no-repeat;
			width: 433px;
			height: 140px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1
		}
	}
	if skin=='air' {
		:root {
			--bodybg: #fff;
			--border: #77a9dd;
			--boxbg: rgba(204, 221, 238, 0.737255);
			--maintext: #222222;
			--grayedout: #77a9dd;
		}
		body[class='bangumi'] {
			background: url(https://t.vndb.org/s/air-bg.jpg) no-repeat;
			color: black !important
		}
		div.homeBg {
			background: url(https://t.vndb.org/s/air-right.png) no-repeat;
			width: 197px;
			height: 140px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -10
		}
		blockquote.intro div.bio {
			padding: 0 10px 0 35px;
			margin: -25px 0 0 0;
			color: #555!important;
		}
		blockquote.intro:before {
			color: #666!important
		}
	}
	if skin=='eles' {
		:root {
			--maintext: #f8cb8a;
			--grayedout: #f26a7e;
			--bodybg: #fdd298;
			--border: #362142;
			--boxbg: rgba(54, 33, 66, 0.6);
		}
		body {
			background: url(https://t.vndb.org/s/eiel-bg.jpg) no-repeat
		}
	}
	if skin=='aselia' {
		:root {
			--maintext: #ffffff;
			--grayedout: #eee388;
			--bodybg: #8a3c35;
			--border: #f1c0b2;
			--boxbg: rgba(172, 117, 149, 0.584314)
		}
		body {
			background: url(https://t.vndb.org/s/aselia_01-right.jpg)right top no-repeat
		}
	}
	if skin=='ever17' {
		:root {
			--maintext: #3c363f;
			--grayedout: #785a5b;
			--bodybg: #00879b;
			--border: #016c80;
			--boxbg: rgba(209, 235, 238, 0.466667)
		}
		body {
			background: url(https://t.vndb.org/s/ever17_01-right.jpg)right top no-repeat
		}
	}
	if skin=='fate_02' {
		:root {
			--maintext: #fcfbfb;
			--grayedout: #ff9d82;
			--bodybg: #ac4b47;
			--border: #452d2c;
			--boxbg: rgba(198, 9, 51, 0.4)
		}
		body {
			background: url(https://t.vndb.org/s/fate_02-bg.jpg)no-repeat
		}
	}
	if skin=='fate_01' {
		:root {
			--maintext: #ab928d;
			--grayedout: #916858;
			--bodybg: #200b0c;
			--border: #9e4a47;
			--boxbg: rgba(77, 60, 58, 0.737255)
		}
		body {
			background: url(https://t.vndb.org/s/fate_01-bg.jpg)no-repeat
		}
	}
	if skin=='carnevale' {
		:root {
			--maintext: #b9c7ae;
			--grayedout: #6f7a68;
			--bodybg: #030708;
			--border: #b9c7ae;
			--boxbg: rgba(18, 22, 34, 0.564706)
		}
		body {
			background: url(https://t.vndb.org/s/carnevale-right.jpg)right top no-repeat
		}
	}
	if skin=='higanbana' {
		:root {
			--maintext: #ddd;
			--grayedout: #822;
			--bodybg: #000;
			--border: #822;
			--boxbg: rgba(51, 17, 17, 0.737255)
		}
		body {
			background: url(https://t.vndb.org/s/higanbana-bg.jpg)no-repeat
		}
	}
	if skin=='higu' {
		:root {
			--maintext: #2c1a18;
			--grayedout: #8c5b3b;
			--bodybg: #f89e7e;
			--border: #2c1a18;
			--boxbg: rgba(247, 199, 187, 0.501961)
		}
		body {
			background: url(https://t.vndb.org/s/higu-bg.jpg)no-repeat
		}
	}
	if skin=='lb_02' {
		:root {
			--maintext: #3c363f;
			--grayedout: #785a5b;
			--bodybg: #fff4d4;
			--border: #016c80;
			--boxbg: rgba(209, 235, 238, 0.6)
		}
		body {
			background: url(https://t.vndb.org/s/lb_02-bg.jpg)no-repeat
		}
	}
	if skin=='lb_01' {
		:root {
			--maintext: #408;
			--grayedout: #670159;
			--bodybg: #fff;
			--border: #f76ee2;
			--boxbg: rgba(247, 182, 237, 0.8)
		}
		body {
			background: url(https://t.vndb.org/s/lb-bg.jpg)no-repeat
		}
	}
	if skin=='term' {
		:root {
			--maintext: #0f0;
			--grayedout: #aaa;
			--bodybg: #000;
			--border: #fff;
		}
	}
	if skin=='primitive' {
		:root {
			--maintext: #f8eacd;
			--grayedout: #ff9d8a;
			--bodybg: #ddac9b;
			--border: #edc176;
			--boxbg: rgba(147, 90, 64, 0.6)
		}
		body {
			background: url(https://t.vndb.org/s/primitive-right.jpg)right top no-repeat
		}
	}
	if skin=='saya' {
		:root {
			--maintext: #ffffff;
			--grayedout: #ecbc93;
			--bodybg: #25010f;
			--border: #ebb48b;
			--boxbg: rgba(67, 127, 99, 0.533333)
		}
		body {
			background: url(https://t.vndb.org/s/saya-right.jpg)right top no-repeat
		}
	}
	if skin=='seinarukana' {
		:root {
			--maintext: #131838;
			--grayedout: #fc8e77;
			--bodybg: #fff;
			--border: #324978;
			--boxbg: rgba(253, 233, 230, 0.533333)
		}
		body {
			background: url(https://t.vndb.org/s/seinarukana-bg.jpg) no-repeat
		}
	}
	if skin=='taka' {
		:root {
			--maintext: #fefefc;
			--grayedout: #4b2427;
			--bodybg: #4bb3ae;
			--border: #48878c;
			--boxbg: rgba(72, 135, 140, 0.572549)
		}
		body {
			background: url(https://t.vndb.org/s/taka-right.jpg)right top no-repeat
		}
	}
	if skin=='teal1' {
		:root {
			--maintext: #ddd;
			--grayedout: #007070;
			--bodybg: #000;
			--border: #007070;
			--boxbg: rgba(0, 37, 37, 0.737255)
		}
	}
	if skin=='grey1' {
		:root {
			--bodybg: #fff;
			--border: #999;
			--boxbg: rgba(221, 221, 221, 0.8);
			--maintext: #222;
			--grayedout: #666;
		}
		body {
			background: url(https://t.vndb.org/s/grey-bg.jpg) no-repeat;
		}
		div.homeBg {
			background: url(https://t.vndb.org/s/grey-right.jpg) no-repeat;
			width: 130px;
			height: 120px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1
		}
	}
	if skin=='tsukihime_02' {
		:root {
			--maintext: #fa4347;
			--grayedout: #54459a;
			--bodybg: #000;
			--border: #000000;
			--boxbg: rgba(53, 2, 9, 0.564706)
		}
		body {
			background: url(https://t.vndb.org/s/tsukihime_02-bg.jpg) no-repeat
		}
	}
	if skin=='tsukihime' {
		:root {
			--bodybg: #29345f;
			--border: #b791f3;
			--boxbg: rgba(106, 70, 104, 0.733333);
			--maintext: #ffffff;
			--grayedout: #abcdff;
		}
		body {
			background: url(https://t.vndb.org/s/tsukihime-bg.jpg) no-repeat;
		}
		div.homeBg {
			background: url(https://t.vndb.org/s/tsukihime-right.jpg) no-repeat;
			width: 500px;
			height: 718px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1
		}
	}

	if not skin=='foobar' {
		body {
			background-color: var(--bodybg) !important;
		}
		div#headerNeue2,
		div.subjectNav,
		div.headerContainer,
		div.user_box {
			background: #ffffff00 !important;
			border-bottom: 0px solid #ffffff00 !important;
			box-shadow: 0px 0 0px 1px rgba(0, 0, 0, 0.0) !important
		}

		html .tip,
		html #subject_detail #subject_summary,
		html h2.subtitle,
		html #columnSubjectA h2,
		html #columnInSubjectA h2,
		html #entry_list div.item .content,
		html #comment_box .text,
		html #comment_box .text_pm,
		html .comment_box,
		#headerNeue2 #headerSearch select,
		.searchBar select,
		div.SimpleSidePanel h2,
		div.postTopic div.inner div.topic_content,
		#pageHeader h1,
		body,
		#timeline ul li.tml_item .comment {
			color: var(--maintext)!important
		}
		html a.l,
		html a.l:link,
		html a.l:visited,
		html a.l:active,
		html a:link,
		html a:active,
		html a:visited,
		html a.tip,
		html a.tip:link,
		html a.tip:visited,
		html a.tip:active,
		html #timeline ul li span.info,
		small.feed,
		html ul#infobox li,
		{
			color: var(--grayedout) !important
		}
		/* 	边框 */
		div#prgManager,
		div.sidePanelHome,
		blockquote.intro,
		div#headerSearch,
		div.SidePanel,
		div#anime,
		div#game,
		div#book,
		div#real,
		div#music ul.network_service,
		div.menu_inner,
		div.userSynchronize,
		div.sidePanelHome,
		div#subject_detail,
		{
			border: 1px solid var(--border) !important
		}
		div.sidePanelHome {
			box-shadow: none !important
		}
		/* 	底色 */
		div#prgManager,
		div#prgManagerHeader,
		div.coverList,
		/* 	h2.subtitle, */
		li.tip,
		div#columnTimelineInnerB,
		ul#timelineTabs,
		div.comment,
		div#headerSearch,
		blockquote.intro,
		div.SidePanel,
		div#anime,
		div#game,
		div#book,
		div#music,
		div#real,
		ul.network_service,
		div.menu_inner,
		div.userSynchronize,
		div.sidePanelHome,
		div#subject_detail,
		#navMenuNeue li ul,
		{
			background: var(--boxbg) !important;
		}
		div.subject_section,
		div.text,
		div#comment_list,
		div#columnSubjectHomeA,
		a.chiiBtn {
			background: var(--boxbg) !important;
			border: var(--border) !important;
			border-radius: 15px;
		}
		/* 	透明层 */
		div.infoWrapper_tv.hidden,
		div#prgManagerMain,
		div.header,
		ul#prgSubjectList,
		div#columnTimelineInnerWrapper,
		div.inner,
		div.moreEp,
		div.TsukkmiBox,
		textarea#SayInput,
		div.card,
		div.container,
		div.subject_tag_section,
		div#ChartWarpper,
		div.infobox_expand,
		div.modifyTool,
		div#sliderContainer,
		table.topic_list tr.even,
		#dock .content,
		#navNeue2 #navMenuNeue li a.chl,
		ul.secTab li a,
		div.light_even,
		ul.sideTpcList .row:nth-child(odd),
		ul.sideTpcList .row:nth-child(2n),
		#columnNotifyA div.even,
		table td.even {
			background: #ffffff00 !important
		}
		#timeline h4.Header,
		#timeline ul li,
		#timeline ul li {
			margin: 0;
			padding: 0
		}
		div#anime,
		div#game,
		div#book,
		div#music,
		div#real {
			margin: 5px 0 !important;
			border-radius: 15px
		}
		ul.network_service {
			border-radius: 10px
		}
		div.sidePanelHome,
		div#subject_detail {
			border-radius: 15px
		}
		#columnHomeA #home_calendar,
		#columnHomeA #home_tml {
			border: 0px
		}
	}
}
